.slider {
  height: auto;
  width: 1180px;
}

.viewport {
  float: left;
  width: 750px;
  border: 4px solid #fff;
}

.marker {
  text-align: left;
  float: right;
  width: 420px;
}
.marker li {
  display: inline-block;
  text-align: center;
  width: 120px;
  height: 120px;
  background: #02b6d2;
  color: #fff;
  line-height: 20px;
  margin-left: 10px;
  margin-bottom: 14px;
  cursor: pointer;
  border: 3px solid #02b6d2;
}
.marker li.active, .marker li:hover {
  background: #fff;
  color: #02b6d2;
  border: 3px solid #fff;
}
