@charset "utf-8";

$blue1: #02B6D2;
$blue2: #0595AB;

body{
	font-family: 'Arimo', sans-serif;
	background: url(../images/grid.png) repeat;
}
.wrapper{
	overflow: hidden;
}
.right{  float: right;}
.left{ float: left;}

.top{
	/*width: 1280px;*/
	overflow: hidden; text-align: center;
	.left{
		&.img{
			width: 240px;
			img{ border: 5px solid #fff; box-shadow: 3px 2px 2px #ccc;}
		}
		&.txt{
			width:60%;  text-align: left; padding-left: 20px;
			font-family: 'Federo', cursive;
			p{ font-size: 20px; line-height: 27px; }
		}
	}
	.top-btm{ margin: 0 auto;  display: inline-block; width: 80%; }
}
.side-nav{
	float: left; display: inline-block; position: fixed;
	width: 240px; text-align: right; border-right: 5px solid #eee;
	background: rgba(165,165,165, 0.5);
	box-shadow: 2px 3px 3px #C3C3C3;
	ul{
		position: relative; top: 80px; right: 30px;
		li{
			cursor: pointer;  font-size: 32px;
			font-family: 'Oleo Script', cursive;
			line-height: 80px; color: #eee;
			transition: .3s; -webkit-transition: .3s; -o-transition: .3s; -moz-transition: .3s;
			&.active, &:hover{ color: #fff;  text-shadow: 1px 1px 1px #000; }
		}
	}
}
.main{
	padding: 180px 100px 0 320px; min-height: 1500px;
	float: left; text-align: left; color: #3F3A31;

	p{
		font-size: 16px; line-height: 24px;
		margin-bottom: 10px;
	}

	h1{
		font-size: 50px; padding: 0px 0 80px 0; color: #F26835;
		text-align: center; font-family: 'Oleo Script', cursive;
	}
	h2{
		font-size: 45px; padding: 10px 0 10px 20px; margin: 100px 0 30px 0;
		border-bottom: 3px solid $blue1; border-left: 15px solid $blue1;
		text-shadow: 2px 1px 1px #fff;
		font-family: 'Federo', cursive;
	}
	h3{
		display: inline-block;  background: $blue1; color: #fff;
		padding: 5px 15px; margin: 0 0 10px 0;
		font-size: 35px; font-family: 'Federo', cursive;
		border: 3px solid #fff; box-shadow: 1px 1px 1px #555;
	}
	h4{
		font-weight: bold; font-size: 22px; padding: 15px 0 10px 0;
	}
}
section{
	&.top{ margin: 0 0 25px 0; }
	&.pf-box{
		padding: 30px 60px 40px 40px; margin: 0 0 40px 0;
		background: rgba(0,0,0,.2);
		box-shadow: 2px 3px 3px #C3C3C3;

	}
}

.nmbt, .webx{
	margin: 10px 0 0 80px; border-left: 15px solid $blue2;
	background: #EDEDED; padding: 10px 0 10px 40px;
}
ul.nmbt{
	box-shadow: 1px 1px 1px #555;
	li{
		line-height: 26px; list-style-type: disc; margin-right:20px;
		color: $blue2; padding: 5px 0; font-size: 18px;
		border-bottom: 2px solid #fff;
		&:last-child{ border-bottom: none; }
	}
}
.webx{
	.webx-item{
		overflow: hidden;
		.time, .desc{ float: left; }
		.time{
			width: 210px; font-size: 26px; padding: 15px 0 0 0; color: $blue2;
		}
		.desc{
			width: 500px; border-bottom: 2px solid #ccc;
			p.title{ color: #888; }
			&.last{ border-bottom: none; }
		}
	}
}
.contact{
	text-align: right; padding: 20px 0 100px 0;
	a{
		margin-right: 30px; color: #888;
		&:hover{ color: $blue1;  }
	}
	i{
		font-size: 100px;
	}
}


ul.item-list{

	li{

		.float-info{
			display: block; font-size: 25px;
			background: rgba(0,0,0,.5);
			position: absolute; top: 0px; width: 750px;
			height: 0px;
			a{
				display: inline-block;margin: 10px 20px;
				color: #fff; cursor: pointer; height: 30px;
				position: relative; top: -35px;
				&:hover{ color: $blue1; }
				i{ margin-right: 10px;}
			}

		}
	}
}
